  <h1>Compra</h1>
  <p>Detalles de mi compra:</p>
  <ul>
    <li>Código: {{ticket.code}}</li>
    <li>Total de la compra: {{ticket.amount}}</li>
    <li>Comprador: {{ticket.purchaser}}</li>
    <li>Fecha y Hora de Compra: {{ticket.purchase_datetime}}</li>
  </ul>

